<style>
.form {
	margin-top: 2%;
}

.waves-effect{
	position: fixed;
}
</style>
<h5 class="center-align">Agregar Proveedor</h5>
<div class="row form">
<div class="col s12 m4 offset-m1">
  <div class="col s12">
    <form class="card" style="margin-right: 10px">
      <div class="row card-content">
        <div class="input-field col s12">
        	<i class="material-icons prefix">account_circle</i>
          {{input id="first_name" type="text" class="validate" value=myModel.nombre}}
          <label for="first_name">Nombre</label>
        </div>
      </div>
    </form>
  </div>
    <div class="col s12">
    <form class="card" style="margin-right: 10px">
      <h6 class="center-align">Periodo de Visita</h6>
      <div class="row card-content">
        <div class="col s12 m6">
          {{log myModel.diasVisita}}
          {{log (array-contains myModel.diasVisita 'lunes')}}
          {{checkbox-input label="Lunes" cbId="lunes" checked=(array-contains myModel.diasVisita 'lunes') isChecked=(action 'addDay') isNotChecked=(action 'removeDay')}}
              
          {{!-- <p>
            <input type="checkbox" id="lunes"
                checked="as" 
                onclick={{action "mutDays" 'd' value="target.checked"}}/>
            <label for="lunes">Lunes</label>  
          </p>
          <p>
            <input type="checkbox" id="Martes"
                checked="as" 
                onclick={{action "mutDays" 'd' value="target.checked"}}/>
            <label for="lunes">Lunes</label>  
          </p> --}}
        </div>
        <div class="col s12 m6">

          {{radio-input myModel = myModel radioId = "diario" label = "Diario" setRadioSelect=(action 'setRadioSelect')}}
          {{radio-input myModel = myModel radioId = "semanal" label = "Semanal" setRadioSelect=(action 'setRadioSelect')}}
          {{radio-input myModel = myModel radioId = "quincenal" label = "Quincenal" setRadioSelect=(action 'setRadioSelect')}}
          {{radio-input myModel = myModel radioId = "mensual" label = "Mensual" setRadioSelect=(action 'setRadioSelect')}}
          {{radio-input myModel = myModel radioId = "otro" label = "Otro" setRadioSelect=(action 'setRadioSelect')}}
          Cada {{input type="number" min="0" max="6" disabled=disabledInput value=myModel.customDias}} días

          {{!-- <p>
            {{input type="checkbox" id="semanal" name="materialize" checked=(eq myModel.periodoVisita 'semanal') focus-in=(action 'mutRadio' 'semanal')}}
            <label for="semanal">Semanal</label>
          </p>
          <p>
            {{input type="checkbox" id="quincenal" name="materialize" checked=(eq myModel.periodoVisita 'quincenal') focus-in=(action 'mutRadio' 'quincenal')}}
            <label for="quincenal">Quincenal</label>
          </p>
          <p>
            {{input type="checkbox" id="mensual" name="materialize" checked=(eq myModel.periodoVisita 'mensual') focus-in=(action 'mutRadio' 'mensual')}}
            <label for="mensual">Mensual</label>
          </p>
          <p>
            {{input type="checkbox" id="otro" name="materialize" checked=(eq myModel.periodoVisita 'otro') focus-in=(action 'mutRadio' 'otro')}} 
            <label for="otro">Otro</label>
          </p>
          Cada {{input type="number" min="0" max="6" disabled=disabledInput}} dias --}}
        </div>
      </div>
    </form>
  </div>
  </div>


    <div class="col s12 m6 card" style="margin-left: 2%;">
    	<div class="row card-content">
      	<div class="input-field col s9">
      		{{#power-select 
                options=listaProductos selected=selectedProducto 
                onchange=(action (mut selectedProducto)) 
                searchPlaceholder="Escribe para buscar un producto" 
                placeholder="Escribe para buscar un producto" searchField='nombre' as |listedProd|}}
                {{listedProd.nombre}}
            {{/power-select}}
      	</div>
      	<div class="input-field col s3">
      		<a class="waves-effect waves-light btn" {{action 'addProducto' selectedProducto}}>Añadir</a>
      	</div>
      </div>
    	<div class="col s12">
      		<table class="centered">
        <thead>
          <tr>
              <th>Producto</th>
              <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
        	{{#each myModel.productos as |producto|}}
            {{#if producto.nombre}}
              <tr>
                <td>{{producto.nombre}}</td>
                <td>
                  <a class="waves-effect waves-light btn" {{action 'deleteProducto' producto}} ><i class="material-icons">delete</i></a>
                </td>
              </tr>
            {{/if}}
            {{else}}
              <h5>Agrega productos.</h5>
          {{/each}}
        </tbody>
      </table>
  </div>

    </div>
  </div>
  <a {{action 'guardar' myModel}} class="waves-effect waves-light btn right" style="margin-right: 5%; bottom: 2%; left: 45%;"><i class="material-icons left">save</i>Guardar</a>

  {{multiselect-checkboxes options=dias labelProperty='name' selection=selectedUsers}}
