<style>
	.row {
		margin-top: 3%;
	}

  .file-field .btn, .file-field .btn-large, .file-field .btn-small {
  float: left;
  height: 3rem;
  line-height: 3rem;
}
</style>

<div class="row">
  	<div class="col s12 m8 offset-m2">
      <h2>{{if model.isNew 'Nueva' 'Editar'}} Receta</h2>
    </div>
</div>

<div class="row" >
<div style="max-height: 450px; overflow-y: scroll;">
	<form class="col s12 m8 offset-m2">
      <div class="row" >
        <h4>Datos generales</h4>
        <div class="input-field col s8">
          <i class="material-icons prefix">account_circle</i>
          {{input type="text" class="validate" value=model.nombre}}
          <label>Nombre del Producto</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">attach_money</i>
          {{input type="number" class="validate" value=model.precio}}
          <label>Costo</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">exposure_plus_1</i>
              {{input disabled=(not (not existencia.cantidad)) type="text" min="1" class="validate" value=cantExistencia}}
          <label>Cantidad</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">exposure_plus_1</i>
          {{input type="number" class="validate" min="1" value=existencia.limite}}
          <label>Minimo en Inventario</label>
        </div>

         <h4>Categoría</h4>
        <div class="col s12">
          {{#power-select
            options=myCategorias
            placeholder="Selecciona una categoria"
            selected=selectedCat
            searchField="name"
            onchange=(action (mut selectedCat))
            as |category|
          }}
            {{category.nombre}}
          {{/power-select}}
        </div>

        <h4>Materias Primas</h4>
        <div class="col s6">
          {{#power-select
            options=listMprimas
						selected=selectedProducto
            onchange=(action (mut selectedProducto))
						searchPlaceholder="Escribe para buscar"
						placeholder="Escribe para buscar"
						searchField='nombre'
					as |mprima|}}
						{{mprima.nombre}}
          {{/power-select}}

        </div>
        <div class="col s6">
          {{#if selectedProducto}}
            <div class="row">
              <div class="col m12">
                  {{#m-wrapper query='chip' method='material_chip' class='valign-wrapper' }}
                  <div class="chip">
                      {{selectedProducto.nombre}}
                      <i {{action 'changePrima'}} class="close-notclose material-icons">
                          close
                      </i>
                  </div>
                  {{/m-wrapper}}
              </div>
              <div class="card-action">
                <center>
                    <a {{action 'agregar' selectedProducto}} class="waves-effect waves-light btn">Agregar</a>
                </center>
            </div>
            </div>
          {{else}}
            <h6>Selecciona un producto</h6>
          {{/if}}
        </div>

          <h5>Materias Primas de la Receta</h5>
          <div class="col s12">
            {{#if model.ingredientes}}
             <table>
              <thead>
                <tr>
                  <th>Ingrediente</th>
                  <th>Unidad</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {{#each model.ingredientes as |ingrediente|}}
                  <tr>
                    <td>{{ingrediente.nombre}}</td>
                    <td>{{pluralize 'unidad'}}</td>
                    <td><a {{action 'delete' ingrediente}} class="btn-floating"><i class="material-icons">delete</i></a></td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
             {{else}}
                  <h6>Agrega ingredientes</h6>
             {{/if}}
          </div>

          <h4>Vista</h4>
            <div class="col s6">
              <div class="form-group">
                <label class="col-sm-2 control-label">Imagen PNG<br>(200x200)</label>
                <div class="col-sm-10">
                  {{#if model.imageUrl}}
                    <img id="output" src={{model.imageUrl}} height="200" width="200" hidden={{shouldHideImage}}>
                  {{else}}
                    <h6>No hay imagen disponible.</h6>
                  {{/if}}
                  <p></p>
                  {{x-file-input class="btn white-text" multiple=false name="files" action=(action "didSelectImage") accept="image/*" alt="Agregar Imagen"}}
                </div>
              </div>
            </div>
      </div>
    </form>
</div>
</div>

<div class="row">
  	<div class="col s12 m8 offset-m2">
      <a {{action 'guardar' model existencia selectedCat sucursal}} class="waves-effect waves-light btn right"><i class="material-icons left">save</i>Guardar</a>
    </div>
</div>
