<style>
.form {
	margin-top: 2%;
}

.waves-effect{
	position: fixed;
}
</style>
<h5 class="center-align">Agregar Proveedor</h5>
<div class="row form">
<div class="col s12 m4 offset-m1">
  <div class="col s12">
    <form class="card" style="margin-right: 10px">
      <div class="row card-content">
        <div class="input-field col s12">
        	<i class="material-icons prefix">account_circle</i>
          {{input id="first_name" type="text" class="validate" value=myModel.nombre}}
          <label for="first_name">Nombre</label>
        </div>
      </div>
    </form>
  </div>
    <div class="col s12">
    <form class="card" style="margin-right: 10px">
      <h6 class="center-align">Periodo de Visita</h6>
      <div class="row card-content">
        <div class="col s12 m6">
              
          <p>
            {{input type="checkbox" id="lunes" checked=lunes}}
            <label for="lunes">Lunes</label>
          </p>
          <p>
            {{input type="checkbox" id="martes" checked=martes}}
            <label for="martes">Martes</label>
          </p>
          <p>
            {{input type="checkbox" id="miercoles" checked=miercoles}}
            <label for="miercoles">Miercoles</label>
          </p>
          <p>
            {{input type="checkbox" id="jueves" checked=jueves}}
            <label for="jueves">Jueves</label>
          </p>
          <p>
            {{input type="checkbox" id="viernes" checked=viernes}}
            <label for="viernes">Viernes</label>
          </p>
          <p>
            {{input type="checkbox" id="sabado" checked=sabado}}
            <label for="sabado">Sabado</label>
          </p>
          <p>
            {{input type="checkbox" id="domingo" checked=domingo}}
            <label for="domingo">Domingo</label>
          </p>
        </div>
        <div class="col s12 m6">
          <p>
            {{input type="radio" id="diario" name="materialize" focus-in=(action 'mutRadio' 'diario')}}
            <label for="diario">Diario</label>
          </p>
          <p>
            {{input type="radio" id="semanal" name="materialize" focus-in=(action 'mutRadio' 'semanal')}}
            <label for="semanal">Semanal</label>
          </p>
          <p>
            {{input type="radio" id="quincenal" name="materialize" focus-in=(action 'mutRadio' 'quincenal')}}
            <label for="quincenal">Quincenal</label>
          </p>
          <p>
            {{input type="radio" id="mensual" name="materialize" focus-in=(action 'mutRadio' 'mensual')}}
            <label for="mensual">mensual</label>
          </p>
          <p>
            {{input type="radio" id="otro" name="materialize" focus-in=(action 'mutRadio' 'otro')}} 
            <label for="otro">Otro</label>
          </p>
          Cada {{input type="number" min="0" max="6" disabled=disabledInput}} dias
        </div>
      </div>
    </form>
  </div>
  </div>


    <div class="col s12 m6 card" style="margin-left: 2%;">
    	<div class="row card-content">
      	<div class="input-field col s9">
      		{{#power-select 
                options=listaProductos selected=selectedProducto 
                onchange=(action (mut selectedProducto)) 
                searchPlaceholder="Escribe para buscar un producto" 
                placeholder="Escribe para buscar un producto" searchField='nombre' as |listedProd|}}
                {{listedProd.nombre}}
            {{/power-select}}
      	</div>
      	<div class="input-field col s3">
      		<a class="waves-effect waves-light btn" {{action 'addProducto' selectedProducto}}>Añadir</a>
      	</div>
      </div>
    	<div class="col s12">
      		<table class="centered">
        <thead>
          <tr>
              <th>Producto</th>
              <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
        	{{#each myModel.productos as |producto|}}
            {{#if producto.nombre}}
              <tr>
                <td>{{producto.nombre}}</td>
                <td>
                  <a class="waves-effect waves-light btn" {{action 'deleteProducto' producto}} ><i class="material-icons">delete</i></a>
                </td>
              </tr>
            {{/if}}
            {{else}}
              <h5>Agrega productos.</h5>
          {{/each}}
        </tbody>
      </table>
  </div>

    </div>
  </div>
  <a {{action 'guardar' myModel}} class="waves-effect waves-light btn right" style="margin-right: 5%; bottom: 2%; left: 45%;"><i class="material-icons left">save</i>Guardar</a>

  {{multiselect-checkboxes options=dias labelProperty='name' selection=selectedUsers}}
