<div class="row">
	<div class="col s12 m8 offset-m2">
		<h3 class="center-align">Agregar Materia Prima</h3>
		<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          {{input type="text" class="validate" value=myModel.nombre}}
          <label>Nombre de la Materia Prima</label>
        </div>
        {{log myExistencia}}
        <div class="input-field col s6">
          <i class="material-icons prefix">exposure_plus_1</i>
          {{input type="number" class="validate" min="1" value=myExistencia.cantidad}}
          <label>Cantidad</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">wb_incandescent</i>
          {{input type="text" class="validate" value=myModel.unidad}}
          <label>Unidad</label>
        </div>
      </div>
    </form>
    <a {{action 'guardar' myModel myExistencia}} class="waves-effect waves-light btn right"><i class="material-icons left">save</i>Guardar</a>
  </div>
	</div>
</div>