<style>
select.ember-view {
  display: inline;
}
</style>

{{#light-table modelTable
  height='75vh'
  tableActions=(hash
    delete=(action 'delete')
    edit=(action 'edit')
    cancel=(action 'cancel')
  )as |t|}}

    {{t.head
      onColumnClick=(action 'onColumnClick')
      iconSortable='fa fa-sort'
      iconAscending='fa fa-sort-asc'
      iconDescending='fa fa-sort-desc'
      fixed=true
    }}

    {{#t.body canSelect=false as |body| }}
      {{#if isLoading}}
        {{#body.loader}}
          Cargando datos...
        {{/body.loader}}
      {{/if}}

      {{#if modelTable.isEmpty}}
      {{#body.no-data}}
        No se encontraron registros.
      {{/body.no-data}}
    {{/if}}

    {{/t.body}}

    {{#t.foot fixed=true as |columns|}}
      <tr>
        <td class="align-center" colspan={{columns.length}}>
          {{one-way-select selectedFilter
              options=possibleFilters
              optionValuePath="valuePath"
              optionLabelPath="label"
              update=(action (pipe (action (mut selectedFilter)) (action 'onSearchChange')))
          }}
        </td>
        <td class="align-center" colspan={{columns.length}}>
          <input placeholder="Buscar..." value={{query}} oninput={{action (pipe (action (mut query)) (action 'onSearchChange')) value="target.value"}}>
        </td>
      </tr>
  {{/t.foot}}

{{/light-table}}
