<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper white">
      <a href="#" class="brand-logo center"><img src="media/logonew.jpg"></a>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="center right hide-on-med-and-down" style="margin-right: 14%;">
        <li><a href="#pedidos" {{action 'pedidos'}}><i class="material-icons left">shopping_cart</i><span>$XXX.XX</span></a></li>
        <li><a href="#login" {{action 'login'}} >Iniciar Sesión</a></li>
        <li><a href="#register"{{action 'register'}}>Registrarse</a></li>
      </ul>
      <ul class="left hide-on-med-and-down" style="margin-left: 18%;">
        <li><a href="#historia">Historia</a></li>
        <li><a href="#sucursales">Sucursales</a></li>
        <li><a href="#productos">Productos</a></li>
      </ul>
    </div>
  </nav>
</div>
<ul id="slide-out" class="side-nav">
  <li><div class="userView">
    <div class="background">
      <img src="media/local.jpg">
    </div>
    <a href="#"><img class="circle" src="media/logobg.png"></a>
    <a><span class="white-text name">Panadería La Villita</span></a>
  </div></li>
    <li><a href="#historia" {{action 'cerrar' on="click"}}><i class="material-icons">import_contacts</i>Historia</a></li>
    <li><a href="#sucursales" {{action 'cerrar' on="click"}}><i class="material-icons">store_mall_directory</i>Sucursales</a></li>
    <li><a href="#productos" onclick="cerrar()"><i class="material-icons">restaurant_menu</i>Productos</a></li>
    <li><a href="#pedidos" {{action 'cerrar' on="click"}}><i class="material-icons">shopping_cart</i><span>$XXX.XX</span></a></li>
    <li><div class="divider"></div></li>
    <li><a href="#login" {{action 'cerrar' on="click"}}><i class="material-icons">person</i>Ingresar</a></li>
    <li><a href="#register" {{action 'cerrar' on="click"}}><i class="material-icons">person_add</i>Registrarse</a></li>
</ul>
