<style>
	.row {
		margin-top: 3%;
	}

  .file-field .btn, .file-field .btn-large, .file-field .btn-small {
  float: left;
  height: 3rem;
  line-height: 3rem;
}
</style>

<div class="row">

	<div class="col s12 m8 offset-m2">
  <h2>Nuevo producto receta</h2>
 
	<form class="col s12">
      <div class="row">
        <h4>Datos generales</h4>
        <div class="input-field col s8">
          <i class="material-icons prefix">account_circle</i>
          {{input type="text" class="validate" value=myModel.nombre}}
          <label>Nombre del Producto</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">attach_money</i>
          {{input type="number" class="validate" value=myModel.precio}}
          <label>Costo</label>
        </div>

        {{!-- <h4>Existencia</h4> --}}
        <div class="input-field col s12">
          <i class="material-icons prefix">exposure_plus_1</i>
          {{input type="number" class="validate" min="1" value=myExistencia.cantidad}}
          <label>Cantidad</label>
        </div>

        <h4>Categoría</h4>
        <div class="col s12">
          {{#power-select
            options=myCategorias
            placeholder="Selecciona una categoria"
            selected=myModel.categoria
            searchField="name"
            onchange=(action (mut myModel.categoria))
            as |category|
          }}
            {{category.nombre}}
          {{/power-select}}
        </div>

        <h4>Vista</h4>
        <div class="col s12">
          <div class="form-group">
            <label class="col-sm-2 control-label">Imagen PNG<br>(200x200)</label>
            <div class="col-sm-10">
              {{#if myModel.imageUrl}}
                <img id="output" src={{myModel.imageUrl}} height="200" width="200" hidden={{shouldHideImage}}>
                {{else}}
                <h6> No hay imagen disponible </h6>
              {{/if}}
              <p></p>
              {{x-file-input class="btn white-text" multiple=false name="files" action=(action "didSelectImage") accept="image/*" alt="Upload Image"}}
            </div> 
          </div>
        </div>
           
      </div>
    </form>
    <a {{action 'guardar' myModel myExistencia}} class="waves-effect waves-light btn right"><i class="material-icons left">save</i>Guardar</a>
  </div>
</div>