<style type="text/css">
	.theDark {
		background-color: black;
        border-color: black;
        
	}

 	.theBtn {
        background-color: black;
        border-style: solid;
        border-width: 1px;
        border-color: white;
        width: 60px;
        height: 60px;
     }

     .quant{
        font-size: 2.2em;
        color: white;
     }

     i {
        margin-top: 3%;
        color: white;
        font-size: 2.8em !important;
     }
</style>

<div class="card products">			
    <div class="row theDiv">
        <div class="col s12 center-align">
            {{!--input type="number" value=cantidad min=1--}} 
            {{number-input cantidad=myCantidad}}
        </div>
    </div>
    {{#if maxValue}}
        <div class="row">
            <div class="collection col s12 center-align">
                <a class="collection-item active">Máximo {{maxValue}}</a>
            </div>
        </div>
    {{/if}}
    <div class="row">
        <div class="col s4 center-align theBtn" {{action 'concatNumber' 1 }}>
           <span class="quant">1</span>
        </div>
        <div class="col s4 center-align theBtn" {{action 'concatNumber' 2 }}>
           <span class="quant">2</span>
        </div>
        <div class="col s4 center-align theBtn" {{action 'concatNumber' 3 }}>
           <span class="quant">3</span>
        </div>
        <div class="col s4 center-align theBtn" {{action 'concatNumber' 4 }}>
           <span class="quant">4</span>
        </div>
        <div class="col s4 center-align theBtn" {{action 'concatNumber' 5 }}>
           <span class="quant">5</span>
        </div>
        <div class="col s4 center-align theBtn" {{action 'concatNumber' 6 }}>
           <span class="quant">6</span>
        </div>
        <div class="col s4 center-align theBtn" {{action 'concatNumber' 7 }}>
           <span class="quant">7</span>
        </div>
        <div class="col s4 center-align theBtn" {{action 'concatNumber' 8 }}>
           <span class="quant">8</span>
        </div>
        <div class="col s4 center-align theBtn" {{action 'concatNumber' 9 }}>
           <span class="quant">9</span>
        </div>
        <div class="col s4 center-align theBtn" {{action 'reset' }}>
          <i class="material-icons">delete_forever</i>
        </div>
        <div class="col s4 center-align theBtn" {{action 'concatNumber' 0 }}>
           <span class="quant">0</span>
        </div>
        <div class="col s4 center-align theBtn" {{action 'substract'}}>
           <i class="material-icons">backspace</i>
        </div>
    </div>
</div>