<div class="container">
  <center>
    <h4>Ventas de hoy</h4>
  </center>

  <table style="max-height: 650px; overflow-y: scroll;">
    <thead>
      <tr>
        <th>Propietario</th>
        <th>Fecha y Hora</th>
        <th>Importe</th>
      </tr>
    </thead>

    {{log model}}

    <tbody>
      {{#each model as |venta|}}
        <tr>
          <td>{{venta.propietario.nombre}}</td>
          <td>
            {{!-- {{#if (eq month '-1')}}
              {{moment-format reparto.fechaUnix 'MMM DD, HH:mm' 'X' utc=true}}
            {{else}}
              {{moment-format reparto.fechaUnix 'ddd DD, HH:mm' 'X' utc=true}}
            {{/if}} --}}
            {{moment-format venta.fechaUnix 'MMM DD, HH:mm' 'X' utc=true}}
          </td>
          <td>
            <td>{{venta.propietario.importeTotal}}</td>
          </td>
        </tr>
        {{else}}
          <h5>Aún no hay ventas</h5>
      {{/each}}
    </tbody>
  </table>

</div>

<div>
	{{#link-to "vendedor.index"  class="waves-effect waves-light btn right"}}
		<i class="material-icons">add_shopping_cart</i>
		Nueva venta
	{{/link-to}} 
</div>