{{#ember-wormhole to='admin-nav' }}
  {{#link-to 'admin.inv-produccion' class='breadcrumb' }}Inv. de Producción{{/link-to}}
  {{#link-to 'admin.historial-reparto' class='breadcrumb' }}Repartos{{/link-to}}
{{/ember-wormhole}}
<div class="container">
  <center>
    <h4>Historial de Repartos</h4>
  </center>
  <table style="max-height: 650px">
    <thead>
      <tr>
        <th>Sucursal</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |reparto|}}
      {{log reparto}}
        <tr>
          <td>{{reparto.sucursal.nombre}}</td>
          <td>{{reparto.dia}}</td>
          <td>{{reparto.hora}}</td>
          <td>{{#m-wrapper query=".tooltipped" method="tooltip" }}
              <a class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ver"><i class="material-icons">visibility</i></a>
              <a class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar"><i class="material-icons">edit</i></a>
            {{/m-wrapper}}</td>

        </tr>
        {{else}}
        Aún no hay repartos
      {{/each}}
    </tbody>
  </table>
</div>