{{#ember-wormhole to='admin-nav' }}
  {{#link-to 'admin.inv-produccion' class='breadcrumb' }}Inv. de Producción{{/link-to}}
  {{#link-to 'admin.historial-reparto' class='breadcrumb' }}Repartos{{/link-to}}
{{/ember-wormhole}}
<div class="container">
  <center>
    <h4>Historial de Repartos</h4>
  </center>
  
  {{filtro-reparto month=month year=year day=day}}

  <table style="max-height: 650px; overflow-y: scroll;">
    <thead>
      <tr>
        <th>Sucursal</th>
        <th>Fecha y Hora</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |reparto|}}
        <tr>
          <td>{{reparto.sucursal.nombre}}</td>
          <td>
            {{#if (eq month '-1')}}
              {{moment-format reparto.fechaUnix 'MMM DD, HH:mm' 'X' utc=true}}
            {{else}}
              {{moment-format reparto.fechaUnix 'ddd DD, HH:mm' 'X' utc=true}}
            {{/if}}
          </td>
          <td>
            {{#link-to "admin.reparto" reparto.id class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ver"}}
              <i class="material-icons">visibility</i>
            {{/link-to}}
          </td>

        </tr>
        {{else}}
        Aún no hay repartos
      {{/each}}
    </tbody>
  </table>

</div>