{{#ember-wormhole to='admin-nav'}}
  {{#link-to 'admin.inv-produccion' class='breadcrumb'}}Inv. de Producción{{/link-to}}
  {{#link-to 'admin.lista-mprima' class='breadcrumb'}}Lista{{/link-to}}
{{/ember-wormhole}}
<style>
  body {
    background: url(https://images.unsplash.com/photo-1413745000559-46fdd2d81cd7?auto=format&fit=crop&w=1334&q=80) no-repeat fixed;
  }

  .waves-effect{
    margin-bottom: 2%;
  }

  h3{
    color: white;
  }

  table{
   
  }

</style>

<div class="row">
  <div class="col s12 m8 offset-m2">
    <h3 class="center-align">Materia Prima Disponible</h3>
    {{#link-to "admin.nvo-mprima" class="waves-effect waves-light btn right"}}<i class="material-icons left">add</i>Agregar Materia Prima{{/link-to}}
    <div style="max-height: 450px;
    overflow-y: scroll; width: 100%;">
    <table class="centered white z-depth-5 striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Unidad de medida</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{log model}}
      {{#each model as |existencia|}}
        <tr>
          <td>{{existencia.producto.nombre}}</td>
          <td>{{existencia.cantidad}}</td>
          <td>{{existencia.producto.unidad}}</td>
          <td><a class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar" {{action 'editExistencia' existencia.producto}} ><i class="material-icons">edit</i></a>
              <a {{action 'delete' existencia}} class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Eliminar"><i class="material-icons">delete</i></a></td>
        </tr>
        {{else}}
          Aún no hay materia prima registrada.
      {{/each}}
    </tbody>
  </table>
</div>
  </div>
</div>