
{{#ember-wormhole to='admin-nav'}}
  {{#link-to 'admin.inv-produccion' class='breadcrumb'}}Inv. de Producción{{/link-to}}
  {{#link-to 'admin.lista-mprima' class='breadcrumb'}}Lista{{/link-to}}
  {{#link-to 'admin.nvo-mprima' class='breadcrumb'}}Agregar Materia Prima{{/link-to}}
{{/ember-wormhole}}
<div class="row">
	<div class="col s12 m8 offset-m2">
		<h3 class="center-align">Agregar Materia Prima</h3>
		<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          {{input type="text" class="validate" value=model.nombre}}
          <label>Nombre de la Materia Prima</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">exposure_plus_1</i>
          {{input type="number" class="validate" min="1" value=existencia.cantidad}}
          <label>Cantidad</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">wb_incandescent</i>
          {{input type="text" class="validate" value=model.unidad}}
          <label>Unidad</label>
        </div>
      </div>
    </form>
    <a {{action 'guardar'  model existencia}} class="waves-effect waves-light btn right"><i class="material-icons left">save</i>Guardar</a>
  </div>
	</div>
</div>

{{log model}}
{{log existencia}}