{{#ember-wormhole to='admin-nav' }}
  {{#link-to 'admin.inv-produccion' class='breadcrumb' }}Inv. de Producción{{/link-to}}
  {{#link-to 'admin.nvo-reparto' class='breadcrumb' }}Reparto{{/link-to}}
{{/ember-wormhole}}

<center>
  <h3>Nuevo reparto</h3></center>
<div class="">
  <div class="row">
    <div class="col m4 offset-m1">
      <div class="card" style="margin-right: 10px">

        {{lista-sucursales selectedSucursal=selectedSucursal}}
    
      </div>
      <div class="card" style="margin-right: 10px">
        
        {{!--lista-productos selectedProducto=selectedProducto cantidad=cantidad agregar=(action 'agregar')--}}
        {{lista-productos myReparto=model.reparto}}
        
      </div>
    </div>
  <div class="card col m6" style="margin-left:10px">
    <div class="card-content" style="overflow-y: scroll; max-height: 530px">
      <h5>Productos del reparto</h5>
      <br>
      <div class="row" >
        <table>
          <thead>
            <tr>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Unidad</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.reparto.distribuciones as |distribucion|}}
              <tr>
                <td>{{distribucion.producto.nombre}}</td>
                <td>{{distribucion.cantidad}}</td>
                <td>{{pluralize distribucion.producto.unidad}}</td>
                <td><a {{action 'delete' distribucion}} class="btn-floating"><i class="material-icons">delete</i></a></td>
              </tr>
            {{else}}
              Agrega pedidos
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
     <div class="card-action">
      <center>
        <a {{action 'enviar' model.reparto}} class="waves-effect waves-light btn {{unless disabledEnviar 'disabled'}}">Enviar reparto</a>
      </center>
    </div>
  </div>

  </div>
</div>
