<nav style="padding-left: 10px" class="teal brown lighten-1">
  <div class="nav-wrapper ">
    <div class="col s12">
      {{#link-to 'dueno.index' class='breadcrumb' }} <i class="material-icons">arrow_back</i> Dueño{{/link-to}}
      {{#link-to 'dueno.personal' class='breadcrumb' }} Control de Personal {{/link-to}}
      <a class="breadcrumb">Cajeros</a>
    </div>
  </div>
</nav>
{{outlet}}
<style type="text/css">
body {
  background: url(https://images.unsplash.com/photo-1413745000559-46fdd2d81cd7?auto=format&fit=crop&w=1334&q=80);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  margin: 3px auto 0;
  position: relative;
}
.mt {
  margin-top: 5%;
}

.mb{
	margin-bottom: 5%;
}

</style>
<div class="row">
  <div class="col s8 offset-s2"><br>
  	{{#link-to "dueno.nvo-cajero" class="waves-effect waves-light btn right"}}<i class="material-icons left">add</i>Agregar Cajero{{/link-to}}
    <div class="card mt">
      <table class="striped centered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Sucursal</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            {{#each model as |cajero|}}
              {{#unless cajero.isNew}}
                <tr>
                  <td>{{cajero.nombre}} {{cajero.apellido}}</td>
                  <td>{{cajero.telefono}}</td>
                  <td>{{cajero.cajeroDe.nombre}}</td>
                  <td>
                    <a class="btn-floating"><i class="material-icons" {{action 'editCajero' cajero}}>edit</i></a>
                    <a class="btn-floating red"><i class="material-icons" {{action 'deleteCajero' cajero}} >delete</i></a>
                  </td>
                </tr>
              {{/unless}}
            {{else}}
              <h5>No hay cajeros registrados.</h5>
            {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
