<nav style="padding-left: 10px" class="teal brown lighten-1">
  <div class="nav-wrapper ">
    <div class="col s12">
      {{#link-to 'cajero.index' class='breadcrumb'}}
        Cajero
      {{/link-to}}
      {{#link-to "cajero.corte" (query-params day=currentDayUnix) class='breadcrumb'}}
        Cortes del Día: {{moment-format currentDay 'DD-MM-YYYY'}}
      {{/link-to}}
    </div>
  </div>
</nav>
{{outlet}}
<style type="text/css">
body {
  background: url(../media/villita_bg.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  margin: 3px auto 0;
  position: relative;
}

.btn-floating {
  margin-left: 2%;
}

.mt {
  margin-top: 3%;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  color: white;
}
</style>
<div class="row">
  <div class="col s4 offset-s2 mt">
    {{#m-wrapper query=".datepicker" method="pickadate" }}
    <div class="card-panel teal brown lighten-1">
      {{input type="text" class="datepicker" placeholder="Selecciona la fecha..." change=(action 'changeFecha')}}
    </div>
    {{/m-wrapper}}
  </div>
  <div class="col s4 mt">
    <div class="card-panel teal brown lighten-1">
      <span class="white-text">Turno: {{turno}} </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <table class="striped centered">
        <thead>
          <tr>
            <th>Cantidad Inicial</th>
            <th>Ventas</th>
            <th>Retiros</th>
            <th>Caja</th>
            <th>Turno</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |corte|}}
          <tr>
            <td>{{corte.turno}}</td>
            <td>{{corte.fecha}}</td>
            <td>$67376</td>
            <td>$654.30</td>
            <td>Matutino</td>
            <td>
              <a class="btn-floating red"><i class="material-icons">details</i></a>
              <a class="btn-floating red"><i class="material-icons">local_printshop</i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <a {{action 'openModal'}}class="waves-effect waves-light btn right"><i class="material-icons left">receipt</i>Corte al Momento</a>
    <a {{action 'openModal'}}class="waves-effect waves-light btn left"><i class="material-icons right">details</i>Corte Turno Anterior</a>
  </div>
</div>

{{#m-wrapper query="#modal1" method="modal" }}
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Generando Corte</h4>
      <h5>Código: {{selectedCorte.id}}</h5>
      {{#if corteAnterior}}
        <h5>Corte Anterior: {{corteAnterior.id}}</h5>
        <br> Cantidad Inicial:
        <h4>${{input type="number" value=corteAnterior.caja}}</h4>
      {{else}}
        <h5><i>Corte anterior no disponible</i></h5>
        <br> Establece Cantidad Inicial: <h5> {{format-money selectedCorte.cajaInicial symbol=selectedCurrency format="%s %v"}} </h5>
        {{input type="text" value=selectedCorte.cajaInicial}}
      {{/if}}
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <a {{action 'generateCorte' selectedCorte corteAnterior}} class="modal-action modal-close waves-effect waves-green btn-flat">Aprobar</a>
    </div>
  </div>
{{/m-wrapper}}
