{{!-- menu --}}

{{!-- <button {{action 'sessionChanged'}}>Sal</button>

{{#each model.productos as |producto|}}
  <button {{action 'addtoCart' producto}}>Add {{producto.nombre}} now</button>
{{/each}}

 --}}
{{#m-wrapper query=".button-collapse" method="sideNav" options='{"closeOnClick":true}' }}

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper white">
      <a href="#" class="brand-logo center"><img src="media/logonew.jpg"></a>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="center right hide-on-med-and-down" style="margin-right: 15%;">
        <li><a href="#pedidos" {{action 'pedidos'}}><i class="material-icons left">shopping_cart</i><span>${{cartTotal}}</span></a></li>
        {{#if session.isAuthenticated}}
          <li><a href="#register"{{action 'perfil'}}>Mi perfil</a></li>
          <li><a {{action 'signOut'}}>Cerrar Sesión</a></li>
        {{else}}
          <li>{{#link-to 'login'}}Iniciar Sesión{{/link-to}}</li>
          <li>{{#link-to 'register'}}Registrarse{{/link-to}}</li>
        {{/if}}


      </ul>
      <ul class="left hide-on-med-and-down" style="margin-left: 18%;">
        <li><a href="#historia">Historia</a></li>
        <li><a href="#sucursales">Sucursales</a></li>
        <li><a href="#productos">Productos</a></li>
      </ul>
    </div>
  </nav>
</div>


<ul id="slide-out" class="side-nav">
  {{#if session.isAuthenticated}}
   <li><div class="user-view">
      <div class="background">
        <img src="https://www.viajejet.com/wp-content/viajes/Quesadillas.jpg">
      </div>
      <a href="#!user"><img class="circle" src="media/anonim.png"></a>
      <a href="#!email"><span class="white-text email">{{userActual.nombre}} {{userActual.apellido}}</span></a>
    </div></li>
    <li>
      {{#link-to 'dir'}}Ir a
        {{if (eq userActual.perfil 'dueno') 'Dueño'}}
      {{/link-to}}
    </li>
    <li><div class="divider"></div></li>
    <div class="hide-on-large-only">
    <li><a {{action 'signOut'}}>Cerrar Sesión</a></li>
  </div>
  {{else}}
    <li><div class="userView">
      <div class="background">
        <img src="media/local.jpg">
      </div>
      <a href="#"><img class="circle" src="media/logobg.png"></a>
      <a><span class="white-text name">Panadería La Villita</span></a>
    </div></li>

  {{/if}}
    <li><a href="#pedidos"{{action 'pedidos'}}><i class="material-icons">shopping_cart</i><span>${{cartTotal}}</span></a></li>
    <li><div class="divider"></div></li>
    <div class="hide-on-large-only">
      <li><a href="#historia"><i class="material-icons">import_contacts</i>Historia</a></li>
      <li><a href="#sucursales"><i class="material-icons">store_mall_directory</i>Sucursales</a></li>
      <li><a href="#productos" ><i class="material-icons">restaurant_menu</i>Productos</a></li>

      {{#unless session.isAuthenticated}}
      <li><a href="#login"><i class="material-icons">person</i>Ingresar</a></li>
        <li><a href="#register"><i class="material-icons">person_add</i>Registrarse</a></li>
      {{/unless}}
    </div>




</ul>

{{/m-wrapper}}


{{!-- fin de menu --}}



<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h3><i>"Desde 1904"</i></h3>
      </div>
      <br><br>

    </div>
  </div>

  {{#m-wrapper query=".parallax" method= "parallax"}}
    <div class="parallax"><img src="media/05.JPG"></div>
  {{/m-wrapper}}


</div>

<div class="container">
    <div class="section">
      <div class="row" id="productos" style="padding-top:50px">
        <div class="col s12 center">
          <h4>Productos</h4>
        </div>
        <div class="col s12 m6 l4">
          <h3 class="center">Pan Dulce</h3>
          <img src="media/donas.png" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red" href="pandulce.html"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

        <div class="col s12 m6 l4">
          <h3 class="center">Pan de Sal</h3>
          <img src="media/bolillo.png" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red" href="pansal.html"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

        <div class="col s12 m6 l4">
          <h3 class="center">Pasteles</h3>
          <img src="media/pastel.png" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red" href="pasteles.html"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

        <div class="col s12 m6 l4">
          <h3 class="center">Charcuteria</h3>
          <img src="media/charcuteria.jpg" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

        <div class="col s12 m6 l4">
          <h3 class="center">Feité</h3>
          <img src="media/feite.jpg" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red" href="feite.html"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

        <div class="col s12 m6 l4">
          <h3 class="center">Panqué</h3>
          <img src="media/panque.jpg" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red" href="panques.html"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

        <div class="col s12 m6 l4">
          <h3 class="center">Galletas</h3>
          <img src="media/galletas.jpg" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

        <div class="col s12 m6 l4">
          <h3 class="center">Bocadillos</h3>
          <img src="media/bocadillo.jpg" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

        <div class="col s12 m6 l4">
          <h3 class="center">Lacteos</h3>
          <img src="media/lacteos.jpg" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

    </div>
  </div>
</div>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">

      </div>
      <br><br>

    </div>
  </div>
  {{#m-wrapper query=".parallax" method= "parallax"}}
    <div class="parallax"><img src="media/07.JPG"></div>
  {{/m-wrapper}}
</div>


<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center" id="sucursales" style="padding-top:50px">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Sucursales</h4>
          {{#m-wrapper query=".collapsible" method="collapsible"}}
          <div class="col s12 l4">
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header active" {{action 'map' 'villita' on='click'}}><i class="material-icons">store_mall_directory</i>La Villita</div>
                  <div class="collapsible-body"><span><i class="material-icons">place</i>Av Benito Juárez 804, Centro, 42000 Pachuca de Soto, Hgo.<br><i class="material-icons">local_phone</i>771 713 2511<br><i class="material-icons">watch_later</i>06:30-22:30</span></div>
                </li>
                <li>
                  <div class="collapsible-header" {{action 'map' "sanjavier" on='click'}}><i class="material-icons">store_mall_directory</i>San Javier</div>
                  <div class="collapsible-body"><span><i class="material-icons">place</i>Blvd. Valle de San Javier 504, Valle de San Javier, 42086 Pachuca de Soto, Hgo.<br><i class="material-icons">local_phone</i>771 714 7870<br><i class="material-icons">watch_later</i>06:30-22:30</span></div>
                </li>
              </ul>

          </div>
          <div class="col s12 l8">
            {{location-map}}
            <p id="map">


            </p>
          </div>
          {{/m-wrapper}}
      </div>
    </div>

  </div>
</div>
<br>
<br>
{{!-- Todo: Cambiar estos brs plox --}}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
        <br><br>

      </div>
    </div>
   {{#m-wrapper query=".parallax" method= "parallax"}}
    <div class="parallax"><img src="media/24.JPG"></div>
  {{/m-wrapper}}
</div>

<div class="container">
  <div class="section">

    <div class="row" id="historia" style="padding-top:50px">
      <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Historia</h4>
          <div class="col s12 l4">
             <img class="z-depth-5" src="media/local.jpg" width="100%" alt="Historia">
          </div>
          <div class="col s12 l8">
            <h5 class="center">"Somos el Mejor Restaurante"</h5>
            <span align="justify">Se lo Garantizamos porque no solamente le ofrecemos la comida más sabrosa, sino que además un recuerdo, un sueño...<br>
            Nuestros sentidos, en particular el gusto es capaz de transportarnos a momentos, lugares y personas inolvidables. Seguramente cuando pruebe nuestros platillos recordará la comida de antaño y ¿Por qué no? A sus seres queridos.<br>Así que le ofrecemos la mejor comida y los recuerdos le corresponden a usted.</span>
            <a class="waves-effect waves-light btn right red"><i class="material-icons right">trending_flat</i>Seguir Leyendo</a>
          </div>
        </div>
    </div>
  </div>
</div>



<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
      <br><br>

    </div>
  </div>
 {{#m-wrapper query=".parallax" method= "parallax"}}
    <div class="parallax"><img src="media/31.JPG"></div>
  {{/m-wrapper}}
</div>

{{!-- Redes sociales --}}
<div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large blue darken-4" href="https://www.facebook.com/pages/Panaderia-La-Villita/282998485061130" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" style="fill:white; width:40px; margin-top:7px">
    <path d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M37,19h-2c-2.14,0-3,0.5-3,2 v3h5l-1,5h-4v15h-5V29h-4v-5h4v-3c0-4,2-7,6-7c2.9,0,4,1,4,1V19z"></path>
</svg></a>
    <a class="btn-floating btn-large brown darken-2" href="https://www.instagram.com/explore/locations/8316774/panaderia-la-villita/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" style="fill:white; width:40px; margin-top:7px">
    <path d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"></path>
</svg>
</a>
</div>





<footer class="page-footer teal brown lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Panadería La Villita</h5>
        <p class="grey-text text-lighten-4">Desde 1904.</p>


      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Redes Sociales</h5>
        <ul>
          <li><a class="white-text" href="https://www.facebook.com/pages/Panaderia-La-Villita/282998485061130">Facebook</a></li>
          <li><a class="white-text" href="https://www.instagram.com/explore/locations/8316774/panaderia-la-villita/">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Panadería La Villita
    </div>
  </div>
</footer>



{{!-- modal login --}}

{{login-form}}

{{!-- modal register --}}

{{register-form}}

{{!-- modal pedidos --}}



{{#m-wrapper query=".modal" method="modal"}}
<div id="pedidos" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Pedidos</h4>
      <div class="row">
        <div class="col s12">
    <table class="striped centered bordered">
        <thead>
          <tr>
              <th>Articulo</th>
              <th>Cantidad</th>
              <th>Precio Unitario</th>
              <th>Costo Total</th>
          </tr>
        </thead>

        <tbody>

          {{#each model.cart.pedidos as |pedido|}}
            <tr>
              <td>{{pedido.producto.nombre}}</td>
              <td>{{input type="number" value=pedido.cantidad min=1}} </td>
              <td>{{pedido.producto.precio}}</td>
              <td>{{pedido.total}}</td>
            </tr>
          {{/each}}
          {{#if model.cart.pedidos}}
            <tr>
              <td> </td>
              <td> </td>
              <td>Total</td>
              <td>${{cartTotal}}</td>

            </tr>
          {{/if}}
        </tbody>
      </table>


      <div style="margin-top: 1%;">

      {{#if model.cart.pedidos}}
      <a class="waves-effect waves-light btn green right" href="#pagar" {{action 'pagar'}} style="margin-right: 1%;"><i class="material-icons right">attach_money</i>Pagar</a>
      {{else}}
      Aún no tienes pedidos
      <a class="waves-effect waves-light btn brown right" href="#productos" onclick="$('#pedidos').modal('close');"><i class="material-icons right">add</i>Agregar</a>
      {{/if}}
      </div>
  </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>

{{/m-wrapper}}

{{!-- modal pagar --}}


{{#m-wrapper query=".modal" method="modal"}}

<div id="pagar" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Pagar</h4>
    <div class="row">
      <h5 class="center-align">Selecciona tu metodo de pago:</h5>
      <form action="#">
        <p>
          <input class="with-gap" name="pago" type="radio" id="paypal" checked />
          <label for="paypal">Paypal</label>
        </p>
        <p>
          <input class="with-gap" name="pago" type="radio" id="card" />
          <label for="card">Tarjeta Debito/Credito</label>
        </p>
        <p>
          <input class="with-gap" name="pago" type="radio" id="oxxo"  />
          <label for="oxxo">Oxxo</label>
        </p>
      </form>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
  </div>
</div>

{{/m-wrapper}}
