

{{!-- menu --}}

{{#m-wrapper query=".button-colapse" method="sideNav"}}

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper white">
      <a href="#" class="brand-logo center"><img src="media/logonew.jpg"></a>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="center right hide-on-med-and-down" style="margin-right: 14%;">
        <li><a href="#pedidos" {{action 'pedidos'}}><i class="material-icons left">shopping_cart</i><span>$XXX.XX</span></a></li>
        <li><a href="#login" {{action 'login'}} >Iniciar Sesión</a></li>
        <li><a href="#register"{{action 'register'}}>Registrarse</a></li>
      </ul>
      <ul class="left hide-on-med-and-down" style="margin-left: 18%;">
        <li><a href="#historia">Historia</a></li>
        <li><a href="#sucursales">Sucursales</a></li>
        <li><a href="#productos">Productos</a></li>
      </ul>
    </div>
  </nav>
</div>
<ul id="slide-out" class="side-nav">
  <li><div class="userView">
    <div class="background">
      <img src="media/local.jpg">
    </div>
    <a href="#"><img class="circle" src="media/logobg.png"></a>
    <a><span class="white-text name">Panadería La Villita</span></a>
  </div></li>
    <li><a href="#historia" {{action 'cerrar' on="click"}}><i class="material-icons">import_contacts</i>Historia</a></li>
    <li><a href="#sucursales" {{action 'cerrar' on="click"}}><i class="material-icons">store_mall_directory</i>Sucursales</a></li>
    <li><a href="#productos" onclick="cerrar()"><i class="material-icons">restaurant_menu</i>Productos</a></li>
    <li><a href="#pedidos" {{action 'cerrar' on="click"}}><i class="material-icons">shopping_cart</i><span>$XXX.XX</span></a></li>
    <li><div class="divider"></div></li>
    <li><a href="#login" {{action 'cerrar' on="click"}}><i class="material-icons">person</i>Ingresar</a></li>
    <li><a href="#register" {{action 'cerrar' on="click"}}><i class="material-icons">person_add</i>Registrarse</a></li>
</ul>

{{/m-wrapper}}


{{!-- fin de menu --}}



<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h3><i>"Desde 1904"</i></h3>
      </div>
      <br><br>

    </div>
  </div>

  {{#m-wrapper query=".parallax" method= "parallax"}}
    <div class="parallax"><img src="media/05.jpg"></div>
  {{/m-wrapper}}


</div>

<div class="container">
    <div class="section">
      <div class="row" id="productos">
        <div class="col s12 center">
          <h4>Productos</h4>
        </div>
        <div class="col s12 m6 l4">
          <h3 class="center">Pan Dulce</h3>
          <img src="media/donas.png" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red" href="pandulce.html"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

        <div class="col s12 m6 l4">
          <h3 class="center">Pan de Sal</h3>
          <img src="media/bolillo.png" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red" href="pansal.html"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

        <div class="col s12 m6 l4">
          <h3 class="center">Pasteles</h3>
          <img src="media/pastel.png" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red" href="pasteles.html"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

        <div class="col s12 m6 l4">
          <h3 class="center">Charcuteria</h3>
          <img src="media/charcuteria.jpg" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

        <div class="col s12 m6 l4">
          <h3 class="center">Feité</h3>
          <img src="media/feite.jpg" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red" href="feite.html"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

        <div class="col s12 m6 l4">
          <h3 class="center">Panqué</h3>
          <img src="media/panque.jpg" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red" href="panques.html"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

        <div class="col s12 m6 l4">
          <h3 class="center">Galletas</h3>
          <img src="media/galletas.jpg" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

        <div class="col s12 m6 l4">
          <h3 class="center">Bocadillos</h3>
          <img src="media/bocadillo.jpg" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

        <div class="col s12 m6 l4">
          <h3 class="center">Lacteos</h3>
          <img src="media/lacteos.jpg" width="100%" class="circle">
          <h5 class="center"><a class="waves-effect waves-light btn red"><i class="material-icons right">visibility</i>Ver Productos</a></h5>
        </div>

    </div>
  </div>
</div>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">

      </div>
      <br><br>

    </div>
  </div>
  {{#m-wrapper query=".parallax" method= "parallax"}}
    <div class="parallax"><img src="media/07.jpg"></div>
  {{/m-wrapper}}
</div>


<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center" id="sucursales">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Sucursales</h4>
        {{em-map}}
      </div>
    </div>

  </div>
</div>
<br>
<br>
{{!-- Todo: Cambiar estos brs plox --}}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
        <br><br>

      </div>
    </div>
   {{#m-wrapper query=".parallax" method= "parallax"}}
    <div class="parallax"><img src="media/24.jpg"></div>
  {{/m-wrapper}}
</div>

<div class="container">
  <div class="section">

    <div class="row" id="historia">
      <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Historia</h4>
          <div class="col s12 l4">
             <img class="z-depth-5" src="media/local.jpg" width="100%" alt="Historia">
          </div>
          <div class="col s12 l8">
            <h5 class="center">"Somos el Mejor Restaurante"</h5>
            <span align="justify">Se lo Garantizamos porque no solamente le ofrecemos la comida más sabrosa, sino que además un recuerdo, un sueño...<br>
            Nuestros sentidos, en particular el gusto es capaz de transportarnos a momentos, lugares y personas inolvidables. Seguramente cuando pruebe nuestros platillos recordará la comida de antaño y ¿Por qué no? A sus seres queridos.<br>Así que le ofrecemos la mejor comida y los recuerdos le corresponden a usted.</span>
            <a class="waves-effect waves-light btn right red"><i class="material-icons right">trending_flat</i>Seguir Leyendo</a>
          </div>
        </div>
    </div>
  </div>
</div>



<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
      <br><br>

    </div>
  </div>
 {{#m-wrapper query=".parallax" method= "parallax"}}
    <div class="parallax"><img src="media/31.jpg"></div>
  {{/m-wrapper}}
</div>

{{!-- Redes sociales --}}
<div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large blue darken-4" href="https://www.facebook.com/pages/Panaderia-La-Villita/282998485061130" target="_blank"><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></a>
    <a class="btn-floating btn-large brown darken-2" href="https://www.instagram.com/explore/locations/8316774/panaderia-la-villita/" target="_blank"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i>
</a>
</div>





<footer class="page-footer teal brown lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Panadería La Villita</h5>
        <p class="grey-text text-lighten-4">Desde 1904.</p>


      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Redes Sociales</h5>
        <ul>
          <li><a class="white-text" href="https://www.facebook.com/pages/Panaderia-La-Villita/282998485061130">Facebook</a></li>
          <li><a class="white-text" href="https://www.instagram.com/explore/locations/8316774/panaderia-la-villita/">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Panadería La Villita
    </div>
  </div>
</footer>



{{!-- modal login --}}

{{#m-wrapper query=".modal" method="modal"}}
<div id="login" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Iniciar Sesión</h4>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="user" type="text" class="validate">
          <label for="user">Usuario</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <a class="waves-effect waves-light btn red right"><i class="material-icons right">done</i>Entrar</a>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>

{{/m-wrapper}}

{{!-- modal register --}}


{{#m-wrapper query=".modal" method="modal"}}
<div id="register" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Registrarse</h4>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          <input id="name" type="text" class="validate">
          <label for="name">Nombre</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="user" type="text" class="validate">
          <label for="user">Nombre de Usuario</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s12">
        <i class="material-icons prefix">people</i>
          <select>
            <option value="" disabled selected>Elige Opción</option>
            <option value="1">Empresa</option>
            <option value="2">Sucursal</option>
            <option value="3">Repartidor</option>
            <option value="4">Cliente</option>
            <option value="5">Otro</option>
          </select>
    <label>Soy:</label>
  </div>
        <a class="waves-effect waves-light btn red right"><i class="material-icons right">done</i>Registrarse</a>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>

{{/m-wrapper}}

{{!-- modal pedidos --}}



{{#m-wrapper query=".modal" method="modal"}}
<div id="pedidos" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Pedidos</h4>
      <div class="row">
        <div class="col s12">
    <table class="striped centered bordered">
        <thead>
          <tr>
              <th>Articulo</th>
              <th>Cantidad</th>
              <th>Precio Unitario</th>
              <th>Costo Total</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Dona</td>
            <td><input type="number" name="quantity" min="1" value="1"></td>
            <td>$8.00</td>
            <td>$24.00</td>
          </tr>
          <tr>
            <td>Pastel</td>
            <td><input type="number" name="quantity" min="1" value="1"></td>
            <td>$82.00</td>
            <td>$240.00</td>
          </tr>
          <tr>
            <td>Cuadro</td>
            <td><input type="number" name="quantity" min="1" value="1"></td>
            <td>$7.00</td>
            <td>$21.00</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Pago total:</td>
            <td>$500.00</td>
          </tr>
        </tbody>
      </table>
      <div style="margin-top: 1%;"><a class="waves-effect waves-light btn brown right" href="#productos" onclick="$('#pedidos').modal('close');"><i class="material-icons right">add</i>Agregas Más</a>
      <a class="waves-effect waves-light btn green right" href="#pagar" {{action 'pagar'}} style="margin-right: 1%;"><i class="material-icons right">attach_money</i>Pagar</a></div>
  </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>

{{/m-wrapper}}

{{!-- modal pagar --}}


{{#m-wrapper query=".modal" method="modal"}}

<div id="pagar" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Pagar</h4>
    <div class="row">
      <h5 class="center-align">Selecciona tu metodo de pago:</h5>
      <form action="#">
        <p>
          <input class="with-gap" name="pago" type="radio" id="paypal" checked />
          <label for="paypal">Paypal</label>
        </p>
        <p>
          <input class="with-gap" name="pago" type="radio" id="card" />
          <label for="card">Tarjeta Debito/Credito</label>
        </p>
        <p>
          <input class="with-gap" name="pago" type="radio" id="oxxo"  />
          <label for="oxxo">Oxxo</label>
        </p>
      </form>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
  </div>
</div>

{{/m-wrapper}}


